* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "ubuntu";
}

header {
    position: sticky;
    top: 0;
    z-index: 99;
    background-color: #1c316d;
    height: 60px;
    line-height: 60px;
    vertical-align: middle;
}

#logo {
    position: absolute;
    display: block;
    bottom: 0;
    margin-left: 25px;
    height: 60px;
    /* line-height: 60px; */
    width: 50px;
    text-decoration: none;
    background: url(/images/logo.png) no-repeat;
}

#name {
    position: absolute;
    color: whitesmoke;
    font-size: 36px;
    margin-left: 50px;
}

#user {
    display: inline-block;
    position: absolute;
    height: 50px;
    width: 50px;
    background: url(/images/user.png) no-repeat;
    right: 0px;
    margin-top: 15px;
    margin-right: 10px;
}

.table {
    display: table;
    width: 100%;
    background-color: gainsboro;
    margin: 0 !important;
    padding: 0 !important;
}

/*----------------------- NAV -------------------------*/

nav {
    position: sticky;
    width: 40px;
    min-width: 40px;
    box-shadow: 0px 0px 4px #666;
    z-index: 2;
    display: table-cell;
    font-size: 16px;
    background-color: white;
    transition: 0.5s ease-in-out;
}

nav:hover {
    width: 140px;
    transition: 0.3s ease;
}

.nav-buttons {
    position: fixed;
    width: 40px;
    top: 50%;
    transform: translateY(-50%);
}

.nav-link {
    display: block;
    position: relative;
    color: #888;
}

nav a {
    overflow: hidden;
    position: relative;
    width: 40px;
    height: 50px;
    line-height: 50px;
    margin-left: 10px;
}

nav a:hover {
    background-color: #ddd;
}

nav:hover a {
    text-align: left;
}

nav li {
    overflow: hidden;
    list-style: none;
    line-height: 50px;
    height: 50px;
    margin: 10px 0;
}

nav ul {
    width: 40px;
}

nav:hover ul {
    width: 130px;
}

nav:hover li {
    width: 140px;
 
}

#curr-page {
    color: #111;
}

#curr-page b {
    font-weight: 600;
}

nav b {
    display: none;
    font-weight: 400;
    font-size: 16px;
    width: 50px;
}

nav:hover b {
    display: inline-block;
    margin-left: 30px;
    margin-right: 10px;
}

nav:hover a {
    width: 120px;
    transition: width .4s ease;
}

nav i {
    position: absolute;
    top: 18px;
    margin-left: 0px;
    width: 20px;
    text-align: center;
}

#loading {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    width: 100%;
    text-align: center;
}

.support {
    position: absolute;
    width: 100px;
    bottom: 50%;
}

.wrapper {
    width: 90%;
    margin: 0 auto;
    /* margin-top: 20px; */
}

main {
    display: flex !important;
    flex-direction: column !important;
    min-height: 100vh;
    height: auto;
}

main::-webkit-scrollbar {
    width: 20px;
}

main::-webkit-scrollbar-track {
    background: #f1f1f1;
}

main::-webkit-scrollbar-thumb {
    background: #888;
}

main::-webkit-scrollbar-thumb:hover {
    background: #555;
}

/* Handle on hover */

.double-section {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

section {
    width: 100%;
    border-radius: 10px;
    background-color: white;
    /* border: 1px solid gray; */
    padding: 15px;
    padding-top: 5px;
    box-shadow: 0px 2px 4px 0px #ccc;
}

.small-section {
    display: block;
    min-width: 350px;
    min-height: 150px;
    flex-grow: 1;
    margin-top: 10px;
}

.big-section {
    margin-top: 20px;
    height: 150px;
}

#orders {
    margin-bottom: 20px;
}

.section-header {
    display: block;
    font-size: 14px;
    color: #aaaaaa;
    height: 20px;
    box-shadow: 0px 2px 2px -2px #aaa;
}

.page-header {
    margin: 0 !;
    margin: 15px 0;
    display: block;
    color: #202020;
    font-size: 24px;
    line-height: 30px;
    font-weight: 200;
    opacity: 0.5;
    border: none !important;
}

#stats-data {
    margin-top: 20px;
    display: flex;
    justify-content: space-evenly;
    font-weight: 300;
    font-size: 18px;
}

.balance-btc {
    margin: auto;
    position: absolute;
    font-weight: bold;
    font-size: 36px;
    top: 50%;
    transform: translateY(-50%);
}

.balance-usd {
    position: absolute;
    bottom: 10px;
    font-size: 16px;
    font-weight: 400;
}

footer {
    /* margin-top: 25px; */
    position: fixed;
    bottom: 0;
    height: 20px;
    width: 100%;
    background-color: #202020;
    color: #606060;
    text-align: center;
}

/* PAGE 2 */

.strategy {
    display: block;
    border: 1px solid green;
    border-radius: 10px;
    width: 300px;
    height: 100px;
    margin: 30px auto;
    margin-bottom: 15px;
    transition: .2s ease-out;
}

.strategy:hover {
    background-color: #ddd;
}

#all-strategies {
    height: auto;
}

#strategies-container {
    display: flex;
    flex: auto;
    flex-direction: row;
    justify-content: space-around;
}